* { margin:0; padding: 0; }

html
{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

body
{
    font-family: 'Bitter', serif;
    
    color: white;
}

header
{
    background-color: rgba(0, 0, 0, 0.45);
    margin: 24px;
    padding: 12px;
    
    overflow:auto;
}

header h1
{
    display: inline-block;
}

header nav
{
    float:right;
}

header nav a
{
    display: inline-block;
    width: 74px; height: 74px;
    background-image: url('social-media.png');
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
}

header nav a#fb
{
    background-position: 0px 0px;
}

header nav a#tw
{
    background-position: 0px -94px;
}

section#main
{
    background-color: rgba(0, 0, 0, 0.45);
    margin: 64px;
    padding: 12px;
    width: 55%
}